.home{
  background-color: black;
  color: antiquewhite;
  padding-left: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  padding-bottom: 14rem;
  display: flex;
  flex-direction: row;
}

.head1{
  background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.grad1 {
  height: 5px;
  width: 69%;
  position:relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.b{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 4.5rem;
}

.a{
  display: block;
  padding-top: 13rem;
  right: 27%;
  position:relative;
}

.hh6{
  padding-top: 1.6rem;
}

.nav-color{
  background-color: black;
}

.page2{
  background-color: black;
  color: antiquewhite;
  padding-top: 8rem;
  padding-bottom: 6rem;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page3{
  color: black;
  padding-bottom: 6rem;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vid{
    position: relative;
    text-align: right;
    width: 65vw;
    left: 50%;
    bottom: 0;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.page4{
  padding-top: 3rem;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 3rem;
  align-items: center;
  
}

.frnds{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tt{
  margin-left: auto;
  margin-right: auto;
}

.Team{
  padding-bottom: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.sponsor{
  height: 10rem;
  width: 17rem;
}

.img2{
  padding-right: 3.8rem;
  padding-left: 4.8rem;
  position: relative;
  height: 80%;
  width: 80%;
}

.img3{
  padding-left: 1.8rem;
  position: relative;
  height: 40%;
  width: 40%;
}

.hh4{
  font-weight: bold;
  padding-top: 1rem;
}

.hh1{
  font-weight: bold;
  text-align: center;
}

.hh11{
  font-weight: bold;
  padding-top: 2.5rem;
}

.img1{
  padding-left: 1.8rem;
  position: relative;
  height: 60%;
  width: 60%;
}

.cell{
  width : 45rem;
}

.cell1{
  padding-left: 2rem;
  padding-top: 2rem;
  width : 45rem;
  font-weight: 600;
}

.bt1{
  border-radius: 30px;
}