@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&display=swap');

@font-face {
  font-family: myFirstFont;
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap);
  font-weight: bolder;
}

@media only screen and (min-width: 1050px){ 
   .home{
    background-color: black;
    color: #fff;
    padding-left: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: row;
  }

  .head1{
    background: red;
      background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
      background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
      background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
      background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: Regular;
      width: 667px;
      padding-top: 0.6rem;
      font-size: 55px;
  }

  .grad1 {
    height: 2.2px;
    width: 29%;
    position:relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 72px; 
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  }

  .grad3{
    height: 3.2px;
    width: 100%;
    position:relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0; 
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  }

  .grad2 {
    height: 2.2px;
    width: 22%;
    position:relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  }

  .b{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 4.5rem;
  }

  .a{
    display: inline-block;
    white-space: normal;
    width: 40%;
    padding-top: 12rem;
    padding-right: 9rem;
    right: 67%;
    position:relative;
    color: #dddddd;
  }

  .hh6{
    padding-top: -0.8rem;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    width: 527px;
    height: 66px;
    
  }

  .nav-color{
    background-color: black;
  }

  .page2{
    background-color: black;
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 6rem;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .iflex{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .iflex1{
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .c{
    display: inline-block;
    width: 40%;
    padding-right: 2rem;
  }

  .d{
    display: inline-block;
    justify-content: right;
    width: 40%;
    padding-left: 2rem;
  }

  .e{
    display: inline-block;
    width: 40%;
    padding-right: 0;
  }

  .f{
    display: inline-block;
    justify-content: right;
    width: 40%;
    padding-bottom: 8rem;
    padding-left: 2rem;
  }

  .g{
    display: inline-block;
    width: 40%;
    margin-top: 1.3rem;
    padding-right: 2rem;
    margin-left: 4.5rem;
  }

  .h{
    display: inline-block;
    justify-content: right;
    width: 40%;
    padding-left: 0;
  }

  .page5{
    background-color: black;
    color: #fff;
    padding-bottom: 6rem;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .page3{
    color: black;
    padding-bottom: 6rem;
    margin: 3.5rem;
    padding-top: 6rem;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .vid{
      position: relative;
      text-align: right;
      width: 65vw;
      left: 50%;
      bottom: 0;
      height: 100%;
      align-items: flex-end;
      justify-content: flex-end;
  }

  .page4{
    padding-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3rem;
    align-items: center;
    
  }

  .frnds{
    display: inline-block;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 1.4rem;
    padding-left: 7rem;
  }

  .tt{
    margin-left: auto;
    margin-right: auto;
  }

  .Team{
    font-weight: 700;
    text-align: center;
  }

  .sponsor{
    padding-top: 2rem;
    margin: 1.6rem;
    height: 10rem;
    width: 17rem;
    display: inline-block;
  }

  .img2{
    position: relative;
    right: 63px;
    height: 468.38px;
    width: 637px;

  }

  .img3{
    position: relative;
    height: 655px;
    width: 625px;
    min-height: 591px;
    min-width:625px;

  }

  .hh4{
    font-weight: 600;
    font-size: 5px;
    text-align: left;
    padding-top: 1,6rem;
  }

  .hh1{
    font-weight: medium;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: mixed;
    height: 50px;
    text-align: center;
    font-family: 'Frank Ruhl Libre';
  }

  .hh11{
    font-weight: 700;
    width: 552px;
    margin-top: 3.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: left;
  }

  .hello1{
    font-size: 22px;
    width: 116px;
  }

  .hello2{
    font-size: 22px;
    width: 160px;
  }

  .hello3{
    font-size: 22px;
    width: 150px;
  }

  .hh11s{
    font-weight:900;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    text-align: center;
  }

  .img1{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 350px;
    min-width: 200px;

  }

  .bt1{
    border-radius: 30px;
  }

  .btn-light{
    background-color: #dddddd;
    border-color: #dddddd;
  }

  .bt11{
    padding-top: 4rem;
  }
}


@media only screen and (max-width: 724px){ 
  .home{
   background-color: black;
   color: #fff;
   padding-left: 7rem;
   font-family: Arial, Helvetica, sans-serif;
   justify-content: space-around;
   padding-bottom: 6rem;
   display: flex;
   flex-direction: column;
 }

 .head1{
   background: red;
   background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
   background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
   background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
   background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: bolder;
   width: 120%;
   font-size: 28px;
 }

 .grad1 {
   height: 2.2px;
   width: 80%;
   position:relative;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 0 auto; 
   background: red; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
 }

 .grad2 {
  height: 2.2px;
  width: 50%;
  position:relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

 .b{
   position: absolute;
   width: fit-content;
   height: fit-content;
   padding-right: 2rem;
   left: 0;
   top: 0;
   padding-top: 4.5rem;
 }

 .a{
   display: flex;
   flex-direction: column;
   width: 140%;
   padding-top: 19rem;
   padding-right: 9rem;
   right: 100px;
   position:relative;
 }

 .hh6{
   padding-top: 3rem;
 }

 .nav-color{
   background-color: black;
 }

 .page2{
   background-color: black;
   color: #fff;
   padding-top: 8rem;
   padding-bottom: 6rem;
   text-align: center;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }

 .c{
   text-align: center;
   padding-left: 2rem;
   padding-right: 1.5rem;
 }

 .d{
   text-align: center;
 }

 .e{
   text-align: center;
 }

 .f{
  text-align: center;
 }

 .g{
  text-align: center;
  padding-left: 2rem;
  padding-right: 1.5rem;
 }

 .h{
  text-align: center;
 }

 .page5{
   background-color: black;
   color: #fff;
   padding-top: 6rem;
   padding-bottom: 6rem;
   text-align: center;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }

 .page3{
   color: black;
   margin: 1.5rem;
   padding-top: 6rem;
   text-align: center;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }

 .vid{
     position: relative;
     text-align: right;
     width: 55vw;
     left: 10%;
     bottom: 0;
     height: 100%;
     
 }

 .page4{
   padding-top: 3rem;
   font-family: 'Times New Roman', Times, serif;
   padding-bottom: 3rem;
   align-items: center;
   
 }

 .frnds{
   display: inline;

   text-align: center;
   width: 40%;
 }

 .tt{
   margin-left: auto;
   margin-right: auto;
 }

 .Team{
   font-weight: 700;
   text-align: center;
 }

 .sponsor{
  display: inline-block;
  padding-top: 2rem;
  margin: 1.6rem;
  height: 30%;
  width: 30%;
} 

 .img2{
   position: relative;
   height: 33%;
   width: 33%;
   min-height: 200px;
   min-width:280px;

 }

 .img3{
   position: relative;
   height: 100%;
   width: 100%;
   min-height: 600px;
   min-width:100px;

 }

 .hh4{
   font-weight: 600;
   font-size: 5px;
   padding-top: 1rem;
   text-align: left;
 }

  .grad3{
    height: 3.2px;
    width: 100%;
    position:relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0; 
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  }

 .hh1{
   font-weight: bold;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
 }

 .hh11{
   font-weight: 700;
   padding-top: 2.5rem;
   padding-bottom: 1rem;
   text-align: left;
   width: 100%;
 }

 .img1{
   position: relative;
   height: 100%;
   width: 100%;
   min-height: 350px;
   min-width: 200px;

 }

 .bt1{
   border-radius: 30px;
 }

 .bt11{
   padding-top: 4rem;
 }
}