.home{
  background-color: black;
  color: antiquewhite;
  padding-left: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 2rem;
  display: inline-block;
}

.head1{
  background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.grad1 {
  height: 5px;
  width: 34rem;
  position:relative;
  left: 26rem;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.b{
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 4.5rem;
}

.a{
  padding-top: 13rem;
  position:relative;
}

.hh6{
  padding-top: 1.6rem;
}

.nav-color{
  background-color: black;
}

.page2{
  background-color: black;
  color: antiquewhite;
  padding-left: 7rem;
  padding-top: 17rem;
  padding-bottom: 6rem;
}

.page3{
  color: black;
  padding-bottom: 6rem;
}

.vid{
  height : 100%;
  width : 100%;
  padding-left: 10rem;
}

.page4{
  text-align: center;
  padding-top: 3rem;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 3rem;
}

.tt{
  margin-left: auto;
  margin-right: auto;
}

.Team{
  padding-bottom: 2.5rem;
  font-weight: 700;
}

.sponsor{
  height: 10rem;
  width: 17rem;
}

.img2{
  padding-right: 3.8rem;
  padding-left: 4.8rem;
  position: relative;
  height: 26rem;
  width: 35rem;
}

.img3{
  padding-left: 1.8rem;
  position: relative;
  height: 40rem;
  width: 37rem;
}

.hh4{
  font-weight: bold;
  padding-top: 1rem;
}

.hh1{
  font-weight: bold;
  text-align: center;
}

.hh11{
  font-weight: bold;
  padding-top: 2.5rem;
}

.img1{
  padding-left: 1.8rem;
  position: relative;
  height: 30rem;
  width: 30rem;
}

.cell{
  width : 45rem;
}

.cell1{
  padding-left: 2rem;
  padding-top: 2rem;
  width : 45rem;
  font-weight: 600;
}

.bt1{
  border-radius: 180px;
  padding-bottom: 2rem;
  padding-top: 6.5rem;
}